
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    background: rgb(0, 8, 21);
    animation: lluvia 10s infinite ;
    font-family: sans-serif;
    
}



.due{
    position: absolute;
    z-index: 0;
    top: -500px;
    animation: lluvia 30s infinite alternate, opacidad 6s infinite alternate-reverse  ;
    border: 2px solid green;
}

.due>img{ 
    width: 100%;
    
    
}
.tres{
    position: absolute;
    z-index: 0;
    top: -600px;
    animation: lluvia 40s infinite , opacidad 5s infinite alternate-reverse  ;
    
}

.tres>img{ 
    width: 100%;
    
}

@keyframes lluvia{
    0%{
    }
    100%{
        top:200px;  

    }
}

@keyframes opacidad{
    0%{opacity: 0%;


    }
    100%{
        opacity: 100%;
        
    }
}


.container{
    position: relative;
    width: 100%;
    margin: auto;
    margin: 200px 0px 0px 0px;
    z-index: 2;
}

.card{
    border: 2px solid white;
    border-radius:30px ;
    width: 30%;
    padding: 30px 30px;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: rgba(0, 0, 90, 0.702);

    

}

.lista{

    margin: 10px 0px;
}

.texto{
    width: 45%;
    color: white;
    
}

input[type=text]{
    height: 30px;
    background: white;
    color: rgb(0, 0, 0);
    font-size: 18px;
    
}
input[type=password]{
    height: 30px;
    background: white;
    color: rgb(0, 0, 0);
    font-size: 18px;
    
}

button{
    font-size: 20px;
    color: white;
    cursor: pointer;
    background: gray;
    border-radius: 10px;
    padding: 10px 10px 30px;
    width: 100%;
    height: 30px;
}



button:hover{
    background-color: rgb(128, 0, 0);
    transition: ease-in 0.2s;
}


.registrarse{
    color: white;
}


@media screen and (max-width:600px) {



.container{
    
    position: relative;
    width: 100%;
    top: -100px;
    margin: auto;
    margin: 200px 0px 0px 0px;
    z-index: 2;
    
}

.due{
    position: absolute;
    
}

.due>img{ 
    width: 100%;
    
    
    
}
.tres{
    position: absolute;
    
    
}

.tres>img{ 
    width: 100%;
    
    
}

.card{
    width: 60%;
    
}

.titulo{
   
    width: 80%;
    font-size: 35px;
    margin: 30px auto;
    
}

.texto{
    width: 80%;
}

input[type=text]{
    width: 80%;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}
input[type=password]{
    width: 80%;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

}


@media screen and (max-width:300px) {


    
.container{
    
    position: relative;
    width: 100%;
    margin: auto;
    margin: 200px 0px 0px 0px;
    z-index: 2;
}

.card{
    width: 100%;
}



}

